/*https://github.com/rastikerdar/vazir-font*/
@font-face {
	font-family: Vazir;
	src:         url('../fonts/Vazir-FD.eot');
	src:         url('../fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'),
	             url('../fonts/Vazir-FD.woff2') format('woff2'),
	             url('../fonts/Vazir-FD.woff') format('woff'),
	             url('../fonts/Vazir-FD.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: Vazir;
	src:         url('../fonts/Vazir-Bold-FD.eot');
	src:         url('../fonts/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
	             url('../fonts/Vazir-Bold-FD.woff2') format('woff2'),
	             url('../fonts/Vazir-Bold-FD.woff') format('woff'),
	             url('../fonts/Vazir-Bold-FD.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: Vazir;
	src:         url('../fonts/Vazir-Light-FD.eot');
	src:         url('../fonts/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
	             url('../fonts/Vazir-Light-FD.woff2') format('woff2'),
	             url('../fonts/Vazir-Light-FD.woff') format('woff'),
	             url('../fonts/Vazir-Light-FD.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: Vazir;
	src:         url('../fonts/Vazir-Medium-FD.eot');
	src:         url('../fonts/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
	             url('../fonts/Vazir-Medium-FD.woff2') format('woff2'),
	             url('../fonts/Vazir-Medium-FD.woff') format('woff'),
	             url('../fonts/Vazir-Medium-FD.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: Vazir;
	src:         url('../fonts/Vazir-Thin-FD.eot');
	src:         url('../fonts/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'),
	             url('../fonts/Vazir-Thin-FD.woff2') format('woff2'),
	             url('../fonts/Vazir-Thin-FD.woff') format('woff'),
	             url('../fonts/Vazir-Thin-FD.ttf') format('truetype');
	font-weight: 100;
}