@font-face {
    font-family: Samim;
    src: url('../fonts/Samim.eot');
    src: url('../fonts/Samim.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Samim.woff') format('woff'),
    url('../fonts/Samim.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Samim;
    src: url('../fonts/Samim-Bold.eot');
    src: url('../fonts/Samim-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Samim-Bold.woff') format('woff'),
    url('../fonts/Samim-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Samim-persian-digits-overwrite;
    src: url('../fonts/Samim-persian-digits-overwrite.eot');
    src: url('../fonts/Samim-persian-digits-overwrite.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Samim-persian-digits-overwrite.woff') format('woff'),
    url('../fonts/Samim-persian-digits-overwrite.ttf') format('truetype');
}