/* In The Name of GOD */

body {
	font-family:      Samim, Samim-persian-digits-overwrite, Tahoma, Arial, sans-serif !important;
	font-weight:      300;
	font-size:        14px;
	background-color: #F9F9F9;
}